.footer {
  padding-top: 126px;

  .footer__flex {
    display: flex;
    padding-bottom: 65px;
    align-items: flex-start;

    .footer__wrapper {
      max-width: 239px;
    }

    .footer__logo {
      color: #131313;
      font-size: 40px;
      font-weight: 800;
      letter-spacing: -0.8px;
      text-decoration: none;
    }

    .footer__description {
      max-width: 239px;
      color: #131313;
      font-size: 12px;
      font-weight: 400;
      margin-top: 16px;
    }

    .footer__rules {
      max-width: 233px;
      color: #131313;
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      margin-top: 12px;
    }

    .footer__links {
      display: flex;
      gap: 50px;
    }

    .footer__ul {
      display: flex;
      flex-direction: column;
      gap: 12px;
      list-style: none;
      margin-left: 93px;
      &:nth-child(3) {
        margin-left: 34px;
      }

      .footer__list {
        .footer__link {
          color: #121212;
          font-size: 16px;
          font-weight: 700;
          text-decoration: none;
          &.active {
            color: #6c5a95;
          }
        }
      }
    }

    .footer__right {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-left: auto;

      .footer__icons-box {
        display: flex;
        gap: 5px;

        .footer__social {
          padding: 20px;
          border-radius: 12px;
          background: #f3f3f3;
          border: none;
          cursor: pointer;
        }
      }

      .footer__right-wrapper {
        margin-top: 35px;

        .footer__right-text {
          color: #131313;
          font-size: 12px;
          font-weight: 400;
          margin-bottom: 3px;
          &:not(:last-child) {
            margin-top: 19px;
          }
        }

        .footer__number {
          color: #131313;
          font-size: 16px;
          font-weight: 400;
          text-decoration: none;
        }
      }
    }
  }

  .footer__bottom {
    padding: 20px 0;
    border-top: 1px solid #e4e4e4;
    display: flex;
    gap: 20px;

    .footer__bottom-text {
      color: #131313;
      font-size: 12px;
      font-weight: 400;
    }
  }
}
