.phones {
  .phones__title {
    text-align: center;
    color: #121212;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 50px;
  }

  .phones__ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 64px;
    list-style: none;

    .phones__list {
      max-width: 196px;
      text-align: center;

      .phones__color-box {
        display: flex;
        justify-content: center;
        gap: 5px;
        margin-top: 20px;
      }

      .phones__color-box span {
        display: block;
        width: 12px;
        height: 12px;
        background-color: aqua;
        border-radius: 50%;
        margin-bottom: 10px;
      }

      .phones__status {
        color: #e38846;
        font-size: 13px;
        font-weight: 400;
      }

      .phones__list-title {
        color: #121212;
        font-size: 22px;
        font-weight: 600;
        margin-top: 6px;
      }

      .phones__list-text {
        color: #121212;
        font-size: 17px;
        font-weight: 400;
        margin-top: 11px;
      }

      .phones__link {
        color: #458295;
        font-size: 13px;
        font-weight: 400;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 32px;
      }
    }
  }
}

@media screen and (max-width: 840px) {
  .phones .phones__ul {
    gap: 20px;
  }
}

@media screen and (max-width: 520px) {
  .phones {
    .phones__title {
      font-size: 32px;
    }

    .phones__ul {
      display: flex;
      overflow-x: auto;
      &::-webkit-scrollbar {
        width: 0;
      }
    }

    .phones__list {
      flex: 0 0 auto;
      width: 196px;
    }
  }
}
